# Python cache
__pycache__/
*.pyc

# dataset
Concat_test_10.npy
concat_XD_test_R50NL.npy
SHT_concat_test.npy
SHT_concat_train.npy

# logs & ouput folders
wandb/
demo_exports/
unsupervised_ckpt/
Unsup_labels/